header {

    background-color: rgb(176, 157, 194);
    margin-left: auto;
    margin-right: auto;
}

.logo {
    position: absolute;
    
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 300%;
}

